<a href="https://colab.research.google.com/github/oaarnikoivu/dme-sentiment/blob/main/Sentiment_Classification_from_Movie_Reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Mining and Exploration - Sentiment Classification from Movie Reviews

# Imports

In [1]:
import numpy as np
import pandas as pd

# Data Preparation

In [41]:
PHRASES_PATH = '/content/drive/MyDrive/dme_data/stanfordSentimentTreebankRaw'
LABELS_PATH = '/content/drive/MyDrive/dme_data/stanfordSentimentTreebank'

phrases = pd.read_csv(PHRASES_PATH + '/sentlex_exp12.txt', delimiter = ",", names=['phrase_id', 'phrase'])
labels = pd.read_csv(LABELS_PATH + '/sentiment_labels.txt', delimiter = '|')

In [53]:
df = pd.concat([phrases, labels], axis=1)
del df['phrase ids']

# provide categorical labels (positive or negative sentiment) based on whether
# sentiment value >= 0.5 
df['label'] = np.where(df['sentiment values']>=0.5, 1, 0)

In [54]:
df.head()

   phrase_id               phrase  sentiment values  label
0          0                    !           0.50000      1
1          1                    '           0.50000      1
2          2                  ' (           0.44444      0
3          3    ' ( the cockettes           0.50000      1
4          4  ' ( the cockettes )           0.42708      0

# Exploratory Data Analysis

# Prediction

## Supervised

## Unsupervised

# Results